//$palette-primary: #009966;
$palette-primary: #008558;
$palette-error: red;
$palette-light-grey-lines: #c2c2c2;
$palette-light-grey-text: #595959;
$palette-secondary: #4374b7;
$palette-dark-grey-lines: #999999;
$palette-dark-grey-text: #1F1F1F;

