@import 'fonts';
@import 'palette';

// GRID ==============================================================

.Grid {
  display: grid;
  grid-template-areas: 'sidebar header .'
                       'sidebar .      .';
  grid-template-rows: [header-start] auto [header-end body-start] 1fr [body-end];
  grid-template-columns: [sidebar-start] 350px [sidebar-end primary-start] 1fr [primary-end vspace-start] 20px [vspace-end];

  & .Grid__sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: [logo-start] 150px [logo-end body-start] 1fr [body-end];
    grid-template-areas: 'logo'
                       'body';
    background: linear-gradient(
        to right,
        transparent,
        transparent 228px,
        $palette-dark-grey-lines 228px,
        $palette-dark-grey-lines 229px,
        transparent 229px
    );
  }
}

// HEADER ============================================================

.Grid__header {
  grid-area: header;
  display: grid;
  grid-template-areas: 'subnav user'
                       'nav    auth';
  grid-template-rows: [row1] 55px [row2] auto;
  grid-template-columns: [nav-start] auto [nav-end user-start] auto [user-end space-start];
  grid-gap: 0 40px;
  margin-top: 5px;
}

@mixin Header__row1 {
  align-self: end;
}

@mixin Header__row2 {
  align-self: start;
}

@mixin Header__col1 {
  justify-self: start;
}

@mixin Header__col2 {
  justify-self: end;
  text-align: right;
}

$edge-padding: 15px;
$middle-padding: 10px;

.Header__subnav {
  grid-area: subnav;
  @include Header__row1;
  @include Header__col1;
  align-items: center;
  font-size: $small-font-size;

  & .nav__item {
    padding-top: $edge-padding;
    padding-bottom: $middle-padding;
    color: black;
  }

  & li:not(:last-child)::after {
    content: '|';
    color: $palette-light-grey-lines;
  }
}

.Header__user {
  grid-area: user;
  @include Header__row1;
  @include Header__col2;
  font-size: $small-font-size;
  color: $palette-light-grey-text;
  padding-bottom: $middle-padding;
  display: grid;

  & > * {
    margin-top: -5px;
  }
}

.Header__divider {
  grid-row: row2;
  grid-column: nav-start / user-end;
  border-top: 1px solid $palette-primary;
}

.Header__nav {
  grid-area: nav;
  @include Header__row2;
  @include Header__col1;

  & .nav__item {
    padding-bottom: $edge-padding;
    padding-top: $middle-padding;
    color: $palette-light-grey-text;

    &:hover {
      text-decoration: underline;
      background: change-color($palette-light-grey-lines, $alpha: 0.3);
      transition: background-color 0.2s;
    }
  }

  & .nav__item--selected {
    font-weight: bold;
  }
}

.Header__auth {
  grid-area: auth;
  @include Header__row2;
  @include Header__col2;
  font-size: $small-font-size;
  padding-top: $middle-padding;

  & a:hover {
    color: $palette-primary;
  }
}

// NAV ---------------------------------------------------------------

$nav-item-padding: 15px;

.nav__list {
  @include font-body;
  list-style: none;
  display: flex;
  padding: 0;
  margin: $middle-padding (-$nav-item-padding);
  text-transform: uppercase;

  & > li {
    padding: 0;
  }

  & .nav__item {
    padding-left: $nav-item-padding;
    padding-right: $nav-item-padding;
    text-decoration: none;
    white-space: nowrap;

    &:hover, &.nav__item--selected {
      color: $palette-primary;
    }
  }
}

// END HEADER ========================================================

// SIDEBAR ===========================================================

.Sidebar__logo {
  grid-area: logo;
  position: absolute;
  top: 0;
  left: 100px;
}

//.Content__sidebar {
//  // just the area next to the main content
//  display: grid;
//  grid-template-columns: 235px auto;
//  justify-items: end;
//  align-items: center;
//  @include font-body;
//  color: $palette-light-grey-text;
//  font-size: $small-font-size;
//  line-height: initial;
//  row-gap: 2px;
//  align-content: start;
//  /* Stop content clashing with logo for logged-out users: */
//  padding-top: 50px;
//
//  & > * {
//    grid-column-start: 1;
//  }
//}

// END SIDEBAR =======================================================

// BODY ==============================================================

.Grid__body {
  grid-row: body-start / body-end;
  grid-column: sidebar-start / primary-end;
  display: grid;
  grid-template-areas: '.            content'
                       'sidesection  content';
  grid-template-columns: 228px 1fr;
  grid-template-rows: 50px auto;
}

.Body__sidesection {
  grid-area: sidesection;
  font-size: $small-font-size;
}

.Body__content {
  grid-area: content;
  display: grid;
  grid-template-columns: 120px [main-start] auto;
  align-content: start;

  & > * {
    grid-column-start: main-start;
  }
}
