*.db
__pycache__
venv
node_modules
*.pyc
static/dist
node/dist
./*.env
.vagrant
ansible/playbook.retry
.coverage
htmlcov/
coverage

.idea/

web/scss/.sass-cache/

api/thumbnails/

build/

dist/

api/phenome10k.egg-info/

docker/local.env
