[Unit]
Description=phenome10k service

[Service]
Type=simple
ExecStart={{ gunicorn_binary }} --error-logfile /var/log/phenome10k/error.log --access-logfile /var/log/phenome10k/access.log -b 0.0.0.0:8000 -w 4 app:app
Restart=on-abort
WorkingDirectory={{ p10k_src_dir }}
User={{ p10k_linux_user }}

[Install]
WantedBy=multi-user.target
