[Unit]
Description=phenome10k service

[Service]
Type=simple
ExecStart={{ uwsgi_binary }} --ini {{ uwsgi_ini }}
Restart=on-abort
WorkingDirectory={{ p10k_src_dir }}
User={{ p10k_linux_user }}
Environment="P10K_ENV={{ p10k_home }}/.env"

[Install]
WantedBy=multi-user.target
