.About {
  font-size: 11px;
}

.About__intro {
  color: #096;
  font-size: 14px;
  line-height: 23px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: bold;
}

.About__images {
  display: flex;
  justify-content: center;
}

.About__images > * {
  padding: 2px;
}

.About a {
  color: #4374b7;
  text-decoration:none;
}

.About a:hover {
  text-decoration: underline;
}

.About h1 {
  font-family: 'Neo Sans W01 Medium', 'Helvetica', Arial, sans-serif;
  color: #096;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

.About hr {
  border: none;
  border-bottom: 1px solid #c2c2c2;
  margin: 20px 0;
}
