body {
  background: linear-gradient(#0a0a0a, #656766 1150px);
  font-family: 'Neo Sans W01', 'Helvetica', Arial, sans-serif;
  color: white;
}

a {
  color: white;
}

.Home {
  margin-top: 73px;
  font-size: 13px;
  line-height: 25px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 830px;
  flex-wrap: wrap;
}

.Home__text {
  margin-top: 0;
  max-width: 450px;
}

.Home__button {
  align-self: center;
  display: inline-block;
  font-size: 13px;
  max-width: 220px;
  padding: 10px 25px;
  font-family: 'Supria Sans W01', 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  background: #096;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.Home__button:hover {
  text-decoration: underline;
}
