* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

h1 {
  color: #096;
  font-weight: normal;
  font-family: 'Neo Sans W01', Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 40px 0 33px;
}

.Base {
  display: grid;
  grid-template-columns: 389px auto auto minmax(auto, 389px);
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "sidebar subnav  user    ."
                       "sidebar nav     auth    ."
                       "sidebar content content .";
}

.Base__nav {
  grid-area: nav;
  justify-self: start;
}

.Base__subnav {
  grid-area: subnav;
  align-items: center;
}

.Base__subnav li:not(:last-child)::after {
  content: '|';
  color: #333;
}

.Base__subnav li a {
  padding: 20px 15px;
  font-size: 11px;
  font-family: 'Supria Sans W01 Regular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.Base__subnav li a:hover {
  color: #096;
}

.Base__sidebar {
  grid-area: sidebar;
}

.Base__auth {
  grid-area: auth;
  justify-self: end;
  font-size: 12px;
  margin: 10px 0 20px 20px;
}

.Base__auth a:hover {
  color: #096;
}

.Base__decoration {
  grid-area: 1 / 2 / 1 / 5;
  background: #096;
  height: 1px;
  align-self: end;
}

.Base__user {
  grid-area: user;
  justify-self: end;
  padding: 20px 0 10px;
  font-size: 12px;
  color: #999;
}

.Base__content {
  grid-area: content;
  grid-column-start: 1;
  margin-bottom: 40px;
}

.Subgrid {
  display: grid;
  grid-template-columns: 228px 161px [main-start] auto;
  align-content: start;
}

.Subgrid > * {
  grid-column-start: main-start;
}

.Content-Sidebar {
  grid-column-start: 1;
  grid-column-end: main-start;
  display: grid;
  grid-template-columns: 235px auto;
  justify-items: end;
  align-items: center;
  font-family: 'HelveticaNeueW01-55Roma' Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 11px;
  line-height: initial;
  row-gap: 2px;
  align-content: start;
}

.Content-Sidebar > *,
.Content-Sidebar__subgrid > * {
  grid-column-start: 1;
}

.Content-Sidebar__subgrid {
  display: contents;
}

.Nav {
  text-transform: uppercase;
  font-family: 'Supria Sans W01 Regular', 'Helvetica', Arial, sans-serif;
  display: flex;
}

.Nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 -15px;
}

.Nav__list > li {
  padding: 0;
}

.Nav__item {
  color: #999;
  display: block;
  text-decoration: none;
  padding: 10px 15px 20px;
}

.Nav__item--selected {
  font-weight: bold;
  color: #096;
}

a.Nav__item:hover {
  text-decoration: underline;
  background: rgba(144, 144, 144, 0.3);
  color: #096;
}

.Sidebar {
  background: linear-gradient(
    to right,
    transparent,
    transparent 228px,
    #999 228px,
    #999 229px,
    transparent 229px
  )
}

.Sidebar__logo{
  position: fixed;
  top: 0;
  left: 100px;
  pointer-events: none;
}
