.Upload__title {
    color: #096;
    font-weight: normal;
    font-size: 24px;
    font-family: 'Neo Sans W01', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.Upload__section-title {
    color: #096;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Supria Sans W01 Bold', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 30px 0 15px;
}

.Upload__form-input {
    border: 1px solid #666;
    display: block;
    padding: 5px;
    font-family: 'Supria Sans W01 Regular', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #666;
    width: 100%;
}

.Upload__form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


.Search {
    border: 1px solid #666;
    width: 100%;
    display: flex;
}

.Search__input {
    border: 0;
    flex-grow: 1;
    padding: 5px;
    font-family: 'Supria Sans W01 Regular', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #666;
}

.Search__submit {
    border: 0;
}


.ListSearch__search {
    border-bottom: none;
}

.ListSearch__results {
    border: 1px solid #666;
    min-height: 100px;
    padding: 10px;
    list-style: none;
    margin: 0;
    font-family: 'Supria Sans W01 Regular', Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
}

.ListSearch__results li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 2.5px 0;
}

.ListSearch__results input {
    border: 1px solid #096;
}


.SelectViewer {
    display: flex;
}

.SelectViewer > * {
    flex-basis: 50%;
    margin: 7.5px;
}
