@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Titillium+Web&display=swap");
.Grid {
  display: grid;
  grid-template-areas: 'sidebar header .' 'sidebar .      .';
  grid-template-rows: [header-start] 150px [header-end body-start] 1fr [body-end];
  grid-template-columns: [sidebar-start] 389px [sidebar-end primary-start] minmax(auto, 1089px) [primary-end vspace-start] minmax(50px, auto) [vspace-end]; }
  .Grid .Grid__sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: [logo-start] 150px [logo-end body-start] 1fr [body-end];
    grid-template-areas: 'logo' 'body';
    background: linear-gradient(to right, transparent, transparent 228px, #999999 228px, #999999 229px, transparent 229px); }

.Grid__header {
  grid-area: header;
  display: grid;
  grid-template-areas: 'subnav user' 'nav    auth';
  grid-template-rows: [row1] 55px [row2] auto;
  grid-template-columns: [nav-start] auto [nav-end user-start] auto [user-end space-start];
  grid-gap: 0 40px;
  margin-top: 5px; }

.Header__subnav {
  grid-area: subnav;
  align-self: end;
  justify-self: start;
  align-items: center;
  font-size: 12px; }
  .Header__subnav .nav__item {
    color: black; }
  .Header__subnav li:not(:first-child) {
    background: linear-gradient(to right, #c2c2c2, transparent 1px) no-repeat center;
    background-size: 100% 50%; }

.Header__user {
  grid-area: user;
  align-self: end;
  justify-self: end;
  text-align: right;
  font-size: 12px;
  color: #4C4C4C;
  padding-bottom: 10px;
  display: grid; }
  .Header__user > * {
    margin-top: -5px; }
  .Header__user > a {
    line-height: 1.1;
    padding-top: 5px; }

.Header__divider {
  grid-row: row2;
  grid-column: nav-start / user-end;
  border-top: 1px solid #008558; }

.Header__nav {
  grid-area: nav;
  align-self: start;
  justify-self: start; }
  .Header__nav .nav__item {
    padding-bottom: 15px;
    padding-top: 10px;
    color: #4C4C4C; }
    .Header__nav .nav__item:hover {
      text-decoration: underline;
      background: rgba(194, 194, 194, 0.3);
      transition: background-color 0.2s; }
  .Header__nav .nav__item--selected {
    font-weight: bold; }

.Header__auth {
  grid-area: auth;
  align-self: start;
  justify-self: end;
  text-align: right;
  font-size: 12px;
  padding-top: 10px;
  line-height: 1.1; }
  .Header__auth a:hover {
    color: #008558; }

.nav__list {
  font-family: "Red Hat Text", "Helvetica", Arial, sans-serif;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px -15px;
  text-transform: uppercase; }
  .nav__list > li {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.1;
    text-align: center; }
  .nav__list .nav__item {
    text-decoration: none; }
    .nav__list .nav__item:hover, .nav__list .nav__item.nav__item--selected {
      color: #008558; }

.Sidebar__logo {
  grid-area: logo;
  position: absolute;
  top: 0;
  left: 100px; }

.Grid__body {
  grid-row: body-start / body-end;
  grid-column: sidebar-start / primary-end;
  display: grid;
  grid-template-areas: '.     .     title      ' 'side1 side2 top-filters' 'side1 side2 content    ' 'side1 side2 pagination ';
  grid-template-columns: [sidesection-start] 229px 161px [sidesection-end content-start] 1fr [content-end];
  grid-template-rows: [headers-start] auto auto [headers-end content-start] minmax(0, 1fr) [content-end] auto [page-end];
  grid-gap: 20px 0; }

.Body__sidesection {
  grid-column: sidesection-start / sidesection-end;
  grid-row: 2 / page-end;
  font-size: 12px; }

.Body__content {
  grid-area: content; }

.Body__title {
  grid-area: title; }

.Body__filters {
  grid-area: top-filters; }

.Body__pagination {
  grid-area: pagination; }

/*# sourceMappingURL=base.css.map */
