upstream phenome10k {
{% for server in app_servers %}  server {{ server }}:{{ gunicorn_port }};{% endfor %}
}

server {
    listen       80;
    listen       [::]:80;
    server_name  {{ monit_hostname }};

    location / {
      proxy_pass http://localhost:8080/;
      proxy_set_header Host $http_host;
    }
}

server {
    listen       80 default_server;
    listen       [::]:80 default_server;
    server_name  _;
    access_log   /var/log/nginx/p10k.log;

    location ^~ /.well-known {
        root /var/www/;
    }

    location / {
      # if the maintenance page exists, return service unavailable
      if (-f /usr/share/nginx/html/maintenance.html) {
        return 503;
      }

      proxy_pass http://phenome10k;
      proxy_connect_timeout 10s;
      proxy_read_timeout 10s;

      # Redefine the header fields that NGINX sends to the upstream server
      proxy_set_header Host $http_host;

      # Allow large file uploads
      client_max_body_size {{ max_upload_size_mb }}M;
    }

    error_page 503 /maintenance.html;
    location = /maintenance.html {
      root  /usr/share/nginx/html/;
    }
}
