upstream phenome10k {
{% for server in app_servers %}  server {{ server }}:{{ gunicorn_port }};{% endfor %}
}

server {
    listen       80;
    listen       [::]:80;
    server_name  {{ monit_hostname }};

    add_header Content-Security-Policy upgrade-insecure-requests;

    return 301 https://$host$request_uri;
}

server {
    listen	            443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         {{ monit_hostname }};

    ssl_certificate     {{ certificates_dir }}/monit-ss.crt;
    ssl_certificate_key {{ certificates_dir }}/monit-ss.pem;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;

    add_header          Content-Security-Policy upgrade-insecure-requests;

    location / {
      proxy_pass http://localhost:8080/;
      proxy_set_header Host $http_host;
    }
}

server {
    listen              80 default_server;
    listen              [::]:80 default_server;
    server_name         _;

    add_header Content-Security-Policy upgrade-insecure-requests;

    return 301 https://$host$request_uri;
}

server {
    listen	            443 ssl http2 default_server;
    listen              [::]:443 ssl http2 default_server;
    server_name         _;
    keepalive_timeout   70;
    access_log          /var/log/nginx/p10k.log;

    include             {{ nginx_partial_configs_dir }}/ssl_certs.conf;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;

    add_header          Content-Security-Policy upgrade-insecure-requests;

    include             {{ nginx_partial_configs_dir }}/server-body.conf;
}
