@import 'scss/palette';
@import 'scss/vars';

.sidebarRow {
  display: grid;
  grid-template-columns: ($line-position - 4px) 20px auto;
  align-items: center;
  margin: 5px 0;

  & > *:first-child {
    justify-self: end;
  }
}

.filter {
  &:hover {
    background: change-color($palette-primary, $alpha:0.2);
    text-decoration: none;
  }

  &--active {
    font-weight: bold;
  }
}
