#!/bin/bash

# This script must be run as the root user. The root user should have
# a .my.cnf in their home folder (/root/.my.cnf) which allows automatic
# login to the MySQL server. If that does not work, then this file can
# be altered to contain passwords (far from ideal).

DAY=`date +%A`
WEEK=$((`date +%-V` % 4))
MONTH=`date +%B`
YEAR=`date +%Y`
DATABASE={{ p10k_db_name }}
BACKUPS_DIR={{ nfs_path }}/backups

mkdir -p $BACKUPS_DIR/daily
mkdir -p $BACKUPS_DIR/weekly
mkdir -p $BACKUPS_DIR/monthly
mkdir -p $BACKUPS_DIR/year

mysqldump --defaults-extra-file=/root/.my.cnf $DATABASE | gzip > $BACKUPS_DIR/daily/$DAY.sql.gz
cp $BACKUPS_DIR/daily/$DAY.sql.gz $BACKUPS_DIR/weekly/$WEEK.sql.gz
cp $BACKUPS_DIR/daily/$DAY.sql.gz $BACKUPS_DIR/monthly/$MONTH.sql.gz
cp $BACKUPS_DIR/daily/$DAY.sql.gz $BACKUPS_DIR/year/$YEAR.sql.gz
