@import 'scss/palette';
@import 'scss/fonts';

.main {
  display: contents;
}

.title {
  grid-row: headers;
  grid-column: content;
  display: grid;
  grid-gap: 10px;
}

.unpublished {
  color: $palette-grey-2;
  font-size: $small-font-size;
}

.back {
  grid-area: 1 / 2;
  align-self: center;
  justify-self: center;
  margin-top: 0.5em;
}

.datalist {
  margin: 0;

  dt, dd {
    display: inline;
  }

  dd {
    margin-left: 0.5em;
  }

  dt {
    font-weight: bold;
  }
}
