{% extends "base.html" %}

{% block content %}
    <h1>Upload New Publication</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% if error %}
             <span class="error">[{{ error }}]</span>
        {% endif %}
        <p>
          {{ form.title.label }}<br>
          {{ form.title() }}<br>
          {% for error in form.title.errors %}
           <span class="error">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
            {{ form.pub_year.label }}<br>
            {{ form.pub_year() }}<br>
            {% for error in form.pub_year.errors %}
             <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.authors.label }}<br>
            {{ form.authors() }}<br>
            {% for error in form.authors.errors %}
             <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
          {{ form.journal.label }}<br>
          {{ form.journal() }}<br>
          {% for error in form.journal.errors %}
            <span class="error">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.abstract.label }}<br>
          {{ form.abstract() }}<br>
          {% for error in form.abstract.errors %}
            <span class="error">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.link.label }}<br>
          {{ form.link() }}<br>
          {% for error in form.link.errors %}
           <span class="error">[{{ error }}]</span>
          {% endfor %}
        </p>
        <ul>
        {% for file in form.files.data %}
        <li><a href="/{{ file.location }}">{{ file.filename }}</a></li>
        {% endfor %}
        </ul>
        <p>
          {{ form.files.label }}<br>
          {{ form.files() }}<br>
          {% for error in form.files.errors %}
           <span class="error">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
