{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/upload.css">
    <h1 class="Upload__title">Upload New</h1>
    <form class="Upload__form" action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {% if error %}
            <span class="error">[{{ error }}]</span>
        {% endif %}
        <h2 class="Upload__section-title">1. Browse and preview STL file</h2>
        <p>
          {{ form.file.label }}<br>
          {{ form.file() }}<br>
          {% for error in form.file.errors %}
          <span class="error">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
            <h2 class="Upload__section-title">3. {{ form.scientific_name.label }}</h2>
            {{ form.scientific_name(class_="Upload__form-input") }}<br>
            {% for error in form.scientific_name.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <fieldset>
            <legend><span class="Upload__section-title">4. Specimen</span> - Please enter relevant specimen information</legend>
            <p>
                {{ form.alt_name.label }}<br>
                {{ form.alt_name(class_="Upload__form-input") }}<br>
                {% for error in form.alt_name.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
            {{ form.specimen_location.label }}<br>
            {{ form.specimen_location(class_="Upload__form-input") }}<br>
            {% for error in form.specimen_location.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
            </p>
            <p>
            {{ form.specimen_id.label }}<br>
            {{ form.specimen_id(class_="Upload__form-input") }}<br>
            {% for error in form.specimen_id.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        </fieldset>
      <p>
        <h2 class="Upload__section-title">6. {{ form.description.label }}</h2>
        {{ form.description(class_="Upload__form-input") }}<br>
        {% for error in form.description.errors %}
        <span class="error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <fieldset>
        <legend><span class="Upload__section-title">7. Publications</span> - Assign any relevant publications to the scan</legend>
        <div class="SelectViewer">
            <div class="ListSearch">
                <div class="ListSearch__search Search">
                {{ form.pub_query(class_="Search__input") }}
                {{ form.pub_search(class_="Search__submit") }}
                </div>
                {{ form.publications_search(class_="ListSearch__results") }}
            </div>
            {{ form.publications(class_="ListSearch__results") }}
        </div>
    </fieldset>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
