alembic==1.7.7
apispec[marshmallow]==5.2.1
apispec-webframeworks==0.5.2
argon2-cffi==21.3.0
asn1crypto==1.5.1
celery[redis]==5.2.2
click
cryptography==39.0.1
email-validator==1.2.1
Flask==2.0.3
flask-hcaptcha==0.6.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
flask-security-too==5.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
Flask-Marshmallow==0.14.0
flower==1.0.0
gunicorn==20.1.0
importlib-metadata==4.11.3
marshmallow-sqlalchemy==0.28.0
numpy==1.22.3
numpy-stl==2.16.3
passlib==1.7.4
Pillow==9.1.0
PyMySQL==1.0.2
pytest==7.1.2
pytest-cov==3.0.0
python-dotenv==0.20.0
python-magic==0.4.25
python-openctm==1.0.11
requests==2.27.1
SQLAlchemy==1.4.36
trimesh==3.12.0
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.2
wheel==0.37.1
zipp==3.8.0
